/*==========================
 Notice Section
==========================*/

.notice-section{

    padding:100px 0;

    background:#f8f9fb;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title span{

    background:#E8F1FF;

    color:#0071e3;

    padding:10px 25px;

    border-radius:50px;

    font-weight:600;

}

.section-title h2{

    font-size:42px;

    margin:20px 0;

}

.section-title p{

    color:#666;

    max-width:650px;

    margin:auto;

}

.notice-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.notice-card{

    background:white;

    padding:40px;

    border-radius:25px;

    text-align:center;

    transition:.4s;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.notice-card:hover{

    transform:translateY(-12px);

    box-shadow:0 25px 60px rgba(0,0,0,.15);

}

.icon{

    font-size:60px;

    margin-bottom:20px;

}

.notice-card h3{

    margin-bottom:15px;

}

.notice-card p{

    color:#666;

    line-height:1.8;

}

.notice-card a{

    display:inline-block;

    margin-top:25px;

    text-decoration:none;

    color:#0071e3;

    font-weight:bold;

}

@media(max-width:992px){

.notice-grid{

grid-template-columns:1fr;

}

}