<section class="mission-section">
    <div class="container">

        <div class="mission-grid">

            <div class="mission-card">
                <span>Our Vision</span>
                <h2>Building Future Leaders</h2>
                <p>
                    To become a leading educational institution that inspires students
                    to achieve academic excellence, strong character, and leadership skills.
                </p>
            </div>

            <div class="mission-card">
                <span>Our Mission</span>
                <h2>Quality Education for All</h2>
                <p>
                    To provide quality education, promote discipline, encourage innovation,
                    and prepare students to serve society with knowledge, confidence, and integrity.
                </p>
            </div>

        </div>

    </div>
</section>